<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">



  <table class="table table-striped">
    <% if @products.present? %>
        <thead>
        <tr>
          <th>Product Name</th>
          <th>Model</th>
          <th>Brand</th>
          <th>Year</th>
          <th>Ram External Storage</th>
        </tr>
        </thead>
        <tbody>
        <% @products.each_with_index do |product,idx| %>
            <tr>
              <td><%= product.name%></td>
              <td><%= product.model%></td>
              <td><%= product.brand%></td>
              <td><%= product.year%></td>
              <td><%= product.ram%></td>
            </tr>
        <% end %>
        </tbody>
    <% end %>
  </table>
</div>

</body>
</html>

